body{
    display:flex;
    text-align:center;
    flex-direction:column;
    justify-content:center;
    
}

.heading{
    margin-bottom:30px;
}
.calculator{
    align-self:center;
    background-color:#959697;
    gap:30px;
    display: flex;
    flex-wrap:wrap;
    width:300px;
    height:500px;
    padding:20px;
    justify-content:center;
    align-items:center;
    border: 2px solid grey;
    border-radius:2%;
}

.num,.delete, .symbol, .equal{
    box-sizing:border-box;
    background-color:white;
    display:inline-flex;
    padding:20px;
    width:52px;
    max-height:50px;
    justify-content:center;
    align-items:center;
    border-style: solid;
    border-width:2px;
    border-color:grey;
    border-radius:7%;
}

.delete, .symbol, .equal{
    padding:16px;
}

button:active{
    background-color:rgb(211, 207, 207);
}
.display{ 
    width:300px;
    height:60px;
    background-color:rgb(236, 233, 233);
    margin:0px;
    border: 2px solid grey;
    border-radius: 2%;
    font-size: larger;
    display:flex;
    padding:10px;
    justify-content:right;
    align-items:end;
}

